* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

/*
HEADER
*/
header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
  height: 85vh;
  background-color: #020024;
}

header h1 {
  color: white;
  font-size: 5rem;
  max-width: 80%;
  user-select: none;
}

.arrows-container {
  position: absolute;
  
  left: 50%;
  bottom: 80px;
}

.arrow {
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);

  height: 50px;
  width: 50px;
  background-color: white;

  clip-path: polygon(50% 90%, 100% 40%, 100% 50%, 50% 100%, 0 50%, 0 40%);
  /* animation: 1s arrows-slide infinite; */
}

.arrow:nth-child(2) {
  top: 25px;
}

/* @keyframes arrows-slide {
  50% {
    bottom: 40px;
  }
} */

