#first-section {
    height: 700px;
}

.section {
    padding: 100px 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.grid-one {
    max-width: 1300px;
    width: 80%;
    height: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-color: red; */
}

.grid-element {
    height: 300px;
    min-height: 300px;

    width: 400px;
    max-width: 500px;
}

.selected {
    border: 5px solid rgb(184, 19, 74);
}

.card {
    cursor: pointer;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgb(48, 48, 48);
}


.card .card-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
 
.card .inner-card {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 100%;

    border-top: 2px rgba(255,255,255,0.5);
    box-shadow: inset 0px 10px 10px rgba(255,255,255,0.5);
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    transform: translateY(100%);
    transition: 0.3s ease-in;
}

.card:hover .inner-card {
    transform: translateY(0%);
}

.card .inner-card h3 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 600;
}

.desc-grid {
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.desc-grid p {
    padding: 20px;
    font-size: 2.7rem;
    font-weight: 400;
    text-align: justify;
}
/* 
.pop-desc {
    position: absolute;
    z-index: 1000;
    height: 500px;
    width: 700px;
    border: 3px solid black;
}
*/