:root {
  --page-width: 1000vw;
  --margin-left: 20vw;
  --viewport-height-box: 20vh;
  --header-color-aboutme: rgb(163, 73, 73);
}

/** MENU - BTN */
.menu-btn-aboutme {
  color: var(--header-color-aboutme);
}

/** TIMELINE CONTAINER */
.timeline-container {
  position: relative;
  width: var(--page-width);
  background-color: var(--header-color-aboutme);
}

.timeline-container::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: var(--margin-left);
  height: 10px;
  width: var(--page-width);
  background-color: #fff;
  border-radius: 10px;
}

.timeline-container .timeline-box {
  position: absolute;
  top: var(--viewport-height-box);
  left: calc(var(--margin-left) + 5rem);
  height: calc(var(--viewport-height-box) * 3);
  display: flex;
  column-gap: 100px;
}

.timeline-container .timeline-box .timeline-box-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/** EVENT CONTAINER */

.event-container {
  position: relative;
  height: var(--viewport-height-box);
  width: 400px;
  border: 2px solid white;
}

.event-container h2 {
  font-size: 3rem;
}
.event-container p {
  font-size: 2rem;
}

.event-container.top::after,
.event-container.bot::before {
  content: '';
  position: absolute;
  width: 5px;
  height: calc(var(--viewport-height-box) / 2);
  background-color: #fff;
  left: 50%;
  transform: translate(-50%);
}

.event-container.top::after {
  bottom: calc(-2px - 50%);
}

.event-container.bot::before {
  top: calc(-2px - 50%);
}
