/** MENU - BTN */
/*
#menu-btn {
    height: 2rem;
    position: fixed;
    z-index: 1000;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    text-decoration: none;
    color: transparent;
    background-color: #fff;
    border: #fff solid 1px;
}

#menu-btn::before,
#menu-btn::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #fff;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

#menu-btn::before {
    top: 0;
    left: -1rem;
}

#menu-btn::after {
    top: 0;
    right: -1rem;
}

*/

#menu-btn {
  position: fixed;
  z-index: 1000;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);

  text-decoration: none;
  font-size: 2rem;
  padding: 3px;
  color: rgb(163, 73, 73);
  background-color: #fff;
  border-left: 3px transparent solid;
  border-right: 3px transparent solid;
  border-radius: 10px;
}

.sectiontest {
  height: 1000vh;
  width: 1000vw;
  background-color: rgb(163, 73, 73);
}

/** TIMELINE */

.line {
    position: absolute;
    top: 45%;
    left: 10%;
    height: 10px;
    width: 150vw;
    background-color: #fff;
}