* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

/** MENU - BTN */
#menu-btn {
	position: fixed;
	z-index: 1000;
	top: 15px;
	left: 50%;
	transform: translate(-50%, 0);

	font-size: 3rem;
	text-decoration: none;
	padding: 3px 6px;
	background-color: #fff;
	border-radius: 10px;
}

/** MAIN */
.menu-container {
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: rgb(2, 0, 15);
}

/** INFINITE CIRCULAR TEXT */
.menu-circular-infinite-text {
	position: absolute;
	z-index: 0;
	top: 20%;
	left: 25%;
	animation: infiniteRotate 30s infinite linear;
}

.menu-circular-infinite-text .plain-text {
	box-shadow: 10rem 0rem 2rem rgb(255, 255, 255);
}

.menu-circular-infinite-text .plain-letter {
	display: inline-block;
	color: #ca0022;

	font-family: 'Roboto';
	color: transparent;
	text-transform: uppercase;
	-webkit-text-stroke: 2px rgb(255, 0, 255); /* contour du text*/
	text-transform: uppercase;
	font-size: 2.5rem;
	font-weight: 900;
}
.menu-circular-infinite-text .img-letter {
	height: 2rem;
	/* filter: drop-shadow(0rem 0rem 2rem rgb(255, 255, 255)); */
}

.menu-circular-infinite-text .letter {
	position: absolute;
	user-select: none;
	pointer-events: none;
	transform-origin: 0 200px;
	top: -200px;
}

@keyframes infiniteRotate {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/** MENU NAV LINKS */
#menu-nav {
	position: absolute;
	height: 100%;
	width: 100%;
}

nav ul {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: left;
	flex-direction: column;
	margin-left: 20%;
	list-style: none;
	background-color: rgb(2, 0, 15);
}

nav .link {
	position: relative;
	font-size: 8rem;
	font-weight: 900;
	font-family: 'Roboto';
	color: transparent;
	text-transform: uppercase;
	-webkit-text-stroke: 2px #fff; /* contour du text*/
	transition: color 0.3s;
}

nav .link:hover {
	color: #fff;
}

nav .link,
nav .link:visited {
	text-decoration: none;
}

nav ul li .link::before,
nav ul li .link::after {
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.3s ease-in-out;
	-webkit-text-stroke: 0px; /* contour du text*/
}

nav ul li .link:hover::before {
	top: -7px;
	left: 7px;
	color: red;
}

nav ul li .link:hover::after {
	top: -14px;
	left: 14px;
	color: rgb(35, 167, 255);
	-webkit-text-stroke: 1px #000; /* contour du text*/
}

/** Portfolio */
nav ul li:nth-child(1) .link::before,
nav ul li:nth-child(1) .link::after {
	content: 'Portfolio';
}
/** About */
nav ul li:nth-child(2) .link::before,
nav ul li:nth-child(2) .link::after {
	content: 'About\00a0me';
}
/** Link */
nav ul li:nth-child(3) .link::before,
nav ul li:nth-child(3) .link::after {
	content: 'Contacts';
}
