/** MENU - BTN */
#menu-btn {
	position: fixed;
	z-index: 1000;
	top: 15px;
	left: 50%;
	transform: translate(-50%, 0);

	font-size: 3rem;
	text-decoration: none;
	padding: 3px 6px;
	background-color: #fff;
	border-radius: 10px;
}

/** MAIN */
.menu-container {
	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	background-color: rgb(2, 0, 15);
}

/** INFINITE CIRCULAR TEXT */
.menu-circular-infinite-text {
	position: absolute;
	z-index: 0;
	top: 20%;
	left: 25%;
	opacity: 0.5;
	animation: infiniteRotate 30s infinite linear;
}

.menu-circular-infinite-text .plain-text {
	box-shadow: 10rem 0rem 2rem rgb(255, 255, 255);
}

.menu-circular-infinite-text .plain-letter {
	display: inline-block;

	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;

	color: transparent;
	-webkit-text-stroke: 2px rgb(255, 0, 255); /* contour du text*/

	font-size: 3.5rem;
}
.menu-circular-infinite-text .img-letter {
	height: 2.5rem;
	/* filter: drop-shadow(0rem 0rem 2rem rgb(255, 255, 255)); */
}

.menu-circular-infinite-text .letter {
	position: absolute;
	user-select: none;
	pointer-events: none;
	transform-origin: 0 250px;
	top: -250px;
}

@keyframes infiniteRotate {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/** SMOKE */
.smoke {
	position: absolute;
	height: 100%;
	bottom: 10%;
	opacity: 0.15;
	filter: blur(1px) drop-shadow(16px 16px 20px rgb(143, 0, 112));
}

/** MENU NAV LINKS */
#menu-nav {
	position: absolute;
	height: 100%;
	width: 100%;
}

#menu-nav ul {
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	list-style: none;
}

#menu-nav .link {
	position: relative;
	font-size: 8rem;
	font-weight: 300;
	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;

	/*color: transparent;
	-webkit-text-stroke: 2px rgb(225, 0, 255); /* contour du text*/
	transition: color 0.3s;

	color: rgb(251, 140, 255);
	text-shadow: -2px -2px 25px rgb(143, 0, 161), 2px -2px 25px rgb(143, 0, 161),
		-2px 2px 25px rgb(143, 0, 161), 2px 2px 25px rgb(143, 0, 161);
}

#menu-nav .link,
#menu-nav .link:visited {
	text-decoration: none;
}

/**
nav .link:hover {
	color: #fff;
}

nav ul li .link::before,
nav ul li .link::after {
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.3s ease-in-out;
	-webkit-text-stroke: 0px; 
}

nav ul li .link:hover::before {
	top: -7px;
	left: 7px;
	color: red;
}

nav ul li .link:hover::after {
	top: -14px;
	left: 14px;
	color: rgb(35, 167, 255);
	-webkit-text-stroke: 1px #000; 
}

nav ul li:nth-child(1) .link::before,
nav ul li:nth-child(1) .link::after {
	content: 'Portfolio';
}

nav ul li:nth-child(2) .link::before,
nav ul li:nth-child(2) .link::after {
	content: 'About\00a0me';
}

nav ul li:nth-child(3) .link::before,
nav ul li:nth-child(3) .link::after {
	content: 'Contacts';
}
*/
