/** MENU - BTN */
#menu-btn {
	position: fixed;
	z-index: 1000;
	top: 15px;
	left: 50%;
	transform: translate(-50%, 0);

	font-size: 3rem;
	text-decoration: none;
	padding: 3px 6px;
	background-color: #fff;
	border-radius: 10px;
}

/** MAIN */
.menu-container {
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: transparent;
	overflow: hidden;
}

.menu-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	box-shadow: inset -1rem 0 3rem 1rem rgb(108, 0, 151);

	background-image: url('../../public/img/Blade-Runner-2049-1.jpg');
	background-size: cover;
	background-position: center;
	/* filter: blur(2px); */
}

/** LANGUAGE SELECTOR */
input[type='button'] {
	cursor: pointer;
}
button {
	cursor: pointer;
}

.language-selector {
	position: absolute;
	z-index: 1;
	top: 5px;
	right: 10rem;
}

.language-selector .language-btn {
	border: none;
	background: transparent;
	color: #ddfffd;
	padding: 0.5rem 1.5rem;

	font-size: 2rem;
	text-transform: uppercase;
	text-shadow: 0 0 2px #84f5fd;
}

.language-selector .language-btn:last-child {
	border-left: 1px #dffffd solid;
	padding-right: 0;
}

.language-selector .language-btn:hover {
	cursor: pointer;
}

/** INFINITE VERTICAL TEXT */
.menu-vertical-infinite-text-container {
	position: absolute;
	right: 0rem;
	top: 50%;
	transform: translateY(-50%);

	height: 100vh;
	width: 5rem;
	overflow: hidden;

	box-shadow: inset 0 -1rem 1.5rem #dffffd;
}

.menu-vertical-infinite-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	animation: publicite 15s linear infinite;
}

.menu-vertical-infinite-text .img-letter-vertical {
	margin: 2rem 0;
	height: 2.5rem;
	filter: drop-shadow(0rem 0rem 0.4rem #fff);
	user-select: none;
	pointer-events: none;
}

@keyframes publicite {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(-100%);
	}
}

/** INFINITE CIRCULAR TEXT */
.menu-circular-infinite-text {
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.5;
	animation: infiniteRotate 30s infinite linear;
}

.menu-circular-infinite-text .img-letter-circular {
	height: 2.5rem;
	filter: drop-shadow(0rem 0rem 2rem #fff);

	position: absolute;
	user-select: none;
	pointer-events: none;
	transform-origin: 0 200px;
	top: -200px;
}

@keyframes infiniteRotate {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/** NAV-LINKS */
#menu-nav-container {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menu-nav ul {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

#menu-nav ul li {
	margin: 0 4.5rem;
}

#menu-nav ul li .link {
	position: relative;
	/* font-family: 'Arial Black', Gadget, sans-serif; */
	font-family: Impact, Charcoal, sans-serif;
	font-size: 7rem;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-weight: 400;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: uppercase;

	color: #ffffff;
	text-shadow: 0 0 7px #92fbff, 0 0 10px #92fbff, 0 0 21px #92fbff,
		0 0 42px #00e4f5, 0 0 82px #00e4f5, 0 0 92px #00e4f5, 0 0 102px #00e4f5,
		0 0 151px #00e4f5;
	transition: text-shadow 0.3s;
}

#menu-nav ul li .link:hover {
	text-shadow: 0 0 7px #f692ff, 0 0 10px #f692ff, 0 0 21px #f692ff,
		0 0 42px #f50097, 0 0 82px #f50097, 0 0 92px #f50097, 0 0 102px #f50097,
		0 0 151px #f50097;
}

/* 
#menu-nav ul li .link:hover {
	animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
		text-shadow: 0 0 7px #92fbff, 0 0 10px #92fbff, 0 0 21px #92fbff,
			0 0 42px #00e4f5, 0 0 82px #00e4f5, 0 0 92px #00e4f5, 0 0 102px #00e4f5,
			0 0 151px #00e4f5;
	}

	20%,
	24%,
	55% {
		text-shadow: none;
	}
}
*/

#menu-nav ul li .link,
#menu-nav ul li .link:visited {
	text-decoration: none;
}

#menu-nav-container .name {
	font-family: 'Varela Round', sans-serif;
	text-transform: uppercase;
	font-size: 2.5rem;

	color: rgb(251, 140, 255);
	text-shadow: -2px -2px 50px rgb(143, 0, 161), 2px -2px 50px rgb(143, 0, 161),
		-2px 2px 50px rgb(143, 0, 161), 2px 2px 50px rgb(143, 0, 161);
}

/** FOOTER */
#menu-footer {
	position: absolute;
	right: 10rem;
	bottom: 2.5rem;

	width: 100%;
}

#menu-footer ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

#menu-footer ul li a svg {
	height: 4rem;
	width: 6rem;
	margin: 0 4.5rem;
	fill: #edc1fa;
	transition: fill 0.3s;
}

#menu-footer ul li a svg:last-child {
	margin-right: 0;
}

#menu-footer ul li a svg:hover {
	fill: #fff;
	filter: drop-shadow(0px 0px 1rem #f973fd);
	/* box-shadow: 0 0 1rem #fff; */
	/* text-shadow: 2rem 2rem 2rem#fff; */
}
