.project3-body {
	overflow-x: hidden;
}

.projects3-container {
	height: 100%;
	width: 100%;
	position: absolute;
}

/* 
.projects2-container .background::before,
.projects2-container .background::after {
	content: '';
	position: fixed;
	z-index: 1000;
	background: #c1f1f5;
	height: 90vh;
	width: 90vw;
	top: 5vh;
	left: 5vw;
	clip-path: polygon(0 75%, 2% 82%, 2% 96%, 7% 96%, 10% 100%, 1% 100%, 0 95%);
}

.projects2-container::after {
	clip-path: polygon(99% 0%, 90% 0%, 93% 4%, 98% 4%, 98% 9%, 100% 13%, 100% 3%);
} 
*/

.projects3-container .background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100vh;
	width: 100%;
	background-image: url('../../public/img/Blade-Runner-2049-1.jpg');
	background-size: cover;
	background-position: center;
}

/** 
* SECTION ONE
*/
#section-one {
	margin: 30vh 5% 0;
	display: flex;
}

#section-one .card-container {
	width: 30%;
}

#section-one .card {
	padding: 1rem 1rem;
	background-color: #ffffff0c;
	border-radius: 15px;
	box-shadow: inset -1px 0 1px 0px rgba(255, 255, 255, 0.301);
}

#section-one .card .title {
	font-size: 6rem;
	font-weight: 600;
	color: #fff;
}

#section-one .card .text {
	font-size: 2.5rem;
	color: #fff;
	padding: 15px 0 0 1rem;
	text-align: justify;
}

#section-one .card .text .link {
	color: rgb(38, 0, 63);
}

#section-one .scaffold-container {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

#section-one .scaffold-container .scaffold-card {
	margin-bottom: 2rem;
}

/**
* MEDIA QUERIES 
*/
@media screen and (max-width: 1500px) {
	#section-one .card .title {
		font-size: 4rem;
	}
}

@media screen and (max-width: 1050px) {
	#section-one {
		flex-direction: column;
		gap: 10rem;
	}
	#section-one .card-container,
	#section-one .scaffold-container {
		width: 100%;
	}

	#section-one .scaffold-container .scaffold-card img {
		height: 200px;
	}
}

/**
--------------------SECTION TWO ---------------------------
*/

#section-two {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	margin: 20rem 0;
}

#section-two .grid-panel {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 1rem;
	column-gap: 1rem;
	padding: 1rem;

	background-color: #ffffff0c;
	border-radius: 1rem;
}

/**
* SECTION TWO TITLE
*/
#section-two .section-title {
	width: 30%;
	padding: 0 1.5rem;
	text-align: center;
}

#section-two .section-title h2 {
	font-size: 5rem;
	text-transform: uppercase;
	color: #fff;
}

/**
* MEDIA QUERIES 
*/
@media screen and (max-width: 400px) {
	#section-two {
		margin: 0;
	}

	#section-two .section-title h2 {
		font-size: 3.5rem;
	}
}

@media screen and (max-width: 800px) {
	#section-two {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
	}

	#section-two .section-title {
		width: 80%;
	}

	#section-two .grid-panel {
		width: 90%;
	}

	#section-two .section-title h2 {
		font-size: 3.5rem;
	}
}

/**
--------------------SECTION THREE ---------------------------
*/

#section-three .section-title {
	font-size: 4rem;
	color: #fff;
	text-align: center;

	margin-bottom: 5rem;
}

#section-three .grid-panel {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	row-gap: 1rem;
	column-gap: 2rem;
	padding: 10rem 0;

	background-color: #ffffff0c;
}

#section-three .grid-panel .left {
	justify-self: right;
}
#section-three .grid-panel .right {
	justify-self: left;
}

/**
* SECTION FOUR
*/

#section-four {
	padding-bottom: 500px;
}

#section-four .section-title {
	font-size: 4rem;
	color: #fff;
	text-align: left;

	margin: 10rem 0 5rem 4rem;
}

#section-four .section-title .titleChar {
	display: inline-block;
}

#section-four .grid-panel {
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	row-gap: 1rem;
	column-gap: 2rem;
	padding: 10rem 10%;

	background-color: #ffffff0c;
}

/**
* SECTION FIVE
*/

/**
* PROJECT CARD
*/
.project-card {
	position: relative;
	overflow: hidden;
	border-radius: 1rem;
	background-color: #1b1b1b;
}

.project-card img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.project-card .card-title {
	cursor: pointer;
	position: absolute;
	bottom: 0;
	background-color: #1b1b1bbd;
	width: 100%;

	color: #fff;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0.5rem 0;
}
