.footer {
  padding: 100px 0;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 250px);
  font-size: 1.5rem;
  text-align: center;
}

.footer ul li {
  padding-left: 10px;
  list-style: none;
  text-align: left;
}

.footer-column:nth-child(2) {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
