.projects2-container {
	min-height: 200vh;

	padding: 80vh 5vw 0;
}

/* 
.projects2-container::before,
.projects2-container::after {
	content: '';
	position: fixed;
	z-index: 1000;
	background: #c1f1f5;
	height: 90vh;
	width: 90vw;
	top: 5vh;
	left: 5vw;
	clip-path: polygon(0 75%, 2% 82%, 2% 96%, 7% 96%, 10% 100%, 1% 100%, 0 95%);
}

.projects2-container::after {
	clip-path: polygon(99% 0%, 90% 0%, 93% 4%, 98% 4%, 98% 9%, 100% 13%, 100% 3%);
} 
*/

.projects2-container .background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100vh;
	width: 100%;
	background-image: url('../../public/img/theChosen1.jpg');
	background-size: cover;
	background-position: center;
}

.projects2-container section .line {
	margin-left: 500px;
	height: 200px;
	width: 10000px;
	background: white;
}
